# Игнорируем установленные библиотеки и настройки Bundler
/vendor/
/.bundle/

# Игнорируем сгенерированные артефакты (их жюри сгенерирует само)
/output/

# Игнорируем кэш тестов и настройки редактора
.rspec_status
/.vscode/
*.swp
.DS_Store